h1 {
    color: #27aedb;
    text-align: center;
}

.App {
  text-align: center;
}

.App1 {
  color: #27aedb;
  text-align: center;	
  font-size: 1.5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Game {
}

.Card {
  float: left;
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid green;
  text-align: center;
}

.card-img-top {
    width: 100%;
}
